<%= form_for(@bull) do |f| %>
  <% if @bull.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bull.errors.count, "error") %> prohibited this bull from being saved:</h2>

      <ul>
      <% @bull.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%# sale order %>
  <div class="field">
    <%= f.label :sale_order %><br>
    <%= f.text_field :sale_order %>
  </div>
  <%# name %> 
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <%# tag %> 
  <div class="field">
    <%= f.label :tag %><br>
    <%= f.text_field :tag %>
  </div>
  <%# horn type %>
  <div class="field">
    Missing
  </div>
  <%# twin? %>
  <div class="field">
    <%= f.label "Twin" %>
    <%= f.check_box :twin %>
  </div>
  <%# date of birth %> 
  <div class="field">
    <%= f.label :dob, "Date of Birth" %><br>
    <%= f.date_select :dob %>
  </div>
  <%# birth weight %>
  <div class="field">
    <%= f.label :birth_weight %><br>
    <%= f.text_field :bw %>
  </div>
  <%# weaning weight %>
  <div class="field">
    <%= f.label :weaning_weight %><br>
    <%= f.text_field :ww %>
  </div>
  <%# yearling weight %>
  <div class="field">
    <%= f.label :yearling_weight %><br>
    <%= f.text_field :yw %>
  </div>
  <h2>EPDs</h2>
  <%# birth weight EPD %>
  <div class="field">
    <%= f.label :birth_weight_EPD, "Birth Weight EPD" %><br>
    <%= f.text_field :bw_epd %>
  </div>
  <%# weaning weight EPD %>
  <div class="field">
    <%= f.label :weaning_weight_EPD, "Weaning Weight EPD" %><br>
    <%= f.text_field :ww_epd %>
  </div>
  <%# yearling weight EPD %>
  <div class="field">
    <%= f.label :yearling_weight_EPD, "Yearling Weight EPD" %><br>
    <%= f.text_field :yw_epd %>
  </div>
  <%# milk EPD %>
  <div class="field">
    <%= f.label :milk_EPD, "Milk EPD" %><br>
    <%= f.text_field :milk_epd %>
  </div>
  <%# actual yearling weight %> 
  <div class="field">
    <%= f.label :real_yw %><br>
    <%= f.number_field :real_yw %>
  </div>
  <%# TM %> 
  <div class="field">
    <%= f.label :scrotum %><br>
    <%= f.text_field :scrotum %>
  </div>
  <%# Sire %> 
  <div class="field">
    <%= f.label :sire %><br>
    <%= f.text_field :sire %>
  </div>
  <%# Dam %> 
  <div class="field">
    <%= f.label :dam %><br>
    <%= f.text_field :dam %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-success" %>
  </div>
<% end %>
