<h1>2014 Charolais 2 yr. old bulls</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tag</th>
      <th>Dob</th>
      <th>Weight</th>
      <th>Scrotum</th>
      <th>Sire</th>
      <th>Dam</th>
      <% if current_user.try(:admin?) %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @bulls.each do |bull| %>
      <tr class="table-striped">
        <td><%= link_to bull.name, bull %></td>
        <td><%= bull.tag %></td>
        <td><%= bull.dob %></td>
        <td><%= bull.weight %></td>
        <td><%= bull.scrotum %></td>
        <td><%= bull.sire %></td>
        <td><%= bull.dam %></td>
        <% if current_user.try(:admin?) %>
          <td><%= link_to 'Edit', edit_bull_path(bull) %></td>
          <td><%= link_to 'Delete', bull, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.try(:admin?) %>
  <%= link_to 'New Bull', new_bull_path %>
<% end %>
