<h2>Neilson Cattle Company</h2>
<h4>Purebred Charolais 2-yr-old Bulls</h4>

<% i = 0 %>
<% row = false %>
<% @bulls.each do |bull| %>
  <% row = false %>
  <% if i == 0 %>
    <div class="row">
  <% end %>
  <div class="col-md-4">
    <div class="asset">
      <div class="saleOrder">
        <%= link_to bull.sale_order, bull %>
      </div>
      <div class="title">
        NCC&nbsp;<%= bull.name %>&nbsp;<%= bull.tag %>
        <p class="subtitle">
          <%= bull.horns.titleize %>
          Charolais
          <% if bull.twin %>
            Twin
          <% end %>
        </p>
      </div>
      <div class="sireInfo">
        <%= bull.reg_num %>&nbsp;NCC&nbsp;<%= bull.tag %>
        <%= bull.dob.strftime("%b. %e, %Y") %>
      </div>
      <div class="epds">
        <div style="float:left; width:55%">
          BW<br>
          WW<br>
          YW<br>
          Milk<br>
          TM<br>
          BW<br>
          205<br>
          365<br>
          Act YW<br>
        </div>
        <%# stat values %>
        <div style="float:left; width:45%">
          <%= bull.bw_epd %><br>
          <%= bull.ww_epd %><br>
          <%= bull.yw_epd %><br>
          <%= bull.milk_epd %><br>
          <%= bull.scrotum %><br>
          <%= bull.bw %><br>
          <%= bull.ww %><br>
          <%= bull.yw %><br>
          <%= bull.real_yw %><br>          
        </div>
      </div>
    </div>
    <% if current_user.try(:admin?) %>
        <div class="adminControls">
          <%= link_to 'Edit', edit_bull_path(bull), :class => "btn btn-success" %>
          <%= link_to 'Delete', bull, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
        </div>
      <% end %>
  </div>
  <% i += 1 %>
  <% if i == 3 %>
    </div>
    <% i = 0 %>
    <% row = true %>
  <% end %>
<% end %>
<% unless row %>
  </div>
<% end %>

<br>
<% if current_user.try(:admin?) %>
  <%= link_to 'New Bull', new_bull_path, :class => "btn btn-success" %>
<% end %>
