<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bull.name %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @bull.tag %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @bull.dob %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @bull.weight %>
</p>

<p>
  <strong>Scrotum:</strong>
  <%= @bull.scrotum %>
</p>

<p>
  <strong>Sire:</strong>
  <%= @bull.sire %>
</p>

<p>
  <strong>Dam:</strong>
  <%= @bull.dam %>
</p>

<%= link_to 'Edit', edit_bull_path(@bull) %> |
<%= link_to 'Back', bulls_path %>
