<p id="notice"><%= notice %></p>

<h1><%= @bull.sale_order %>&nbsp;NCC&nbsp;<%= @bull.name %>&nbsp;<%= @bull.tag %></h1>

<div>
  <%= @bull.reg_num %>&nbsp;NCC&nbsp;<%= @bull.tag %>&nbsp;<%= @bull.horns.titleize %>&nbsp;<%= @bull.dob.strftime("%b. %e, %Y") %>
</div>
<%# for mobile screens only %>
<div class="visible-xs">
  <div class="row">
    <div style="float:left; width:85px; padding-left:30px">
      BW<br>
      WW<br>
      YW<br>
      Milk<br>
      TM<br>
      BW<br>
      205<br>
      365<br>
      Act YW<br>
    </div>
    <div style="float:left; width:75%">
      <%= @bull.bw_epd %><br>
      <%= @bull.ww_epd %><br>
      <%= @bull.yw_epd %><br>
      <%= @bull.milk_epd %><br>
      <%= @bull.scrotum %><br>
      <%= @bull.bw %><br>
      <%= @bull.ww %><br>
      <%= @bull.yw %><br>
      <%= @bull.real_yw %><br>          
    </div>
  </div>
</div>
<%# for non-mobile screens only %>
<div class='hidden-xs'>
  <table>
    <tr>
      <th>
        BW
      </th>
      <th>
        WW
      </th>
      <th>
        YW
      </th>
      <th>
        MM
      </th>
      <th>
        TM
      </th>
      <th>
        BW
      </th>
      <th>
        205 DW
      </th>
      <th>
        365 DW
      </th>
      <th>
        Act YW
      </th>
    </tr>
    <tr>
      <td>
        <%= @bull.bw_epd %>
      </td>
      <td>
        <%= @bull.ww_epd %>
      </td>
      <td>
        <%= @bull.yw_epd %>
      </td>
      <td>
        <%= @bull.milk_epd %>
      </td>
      <td>
        <%= @bull.scrotum %>
      </td>
      <td>
        <%= @bull.bw %>
      </td>
      <td>
        <%= @bull.ww %>
      </td>
      <td>
        <%= @bull.yw %>
      </td>
      <td>
        <%= @bull.real_yw %>
      </td>
    </tr>
  </table>
</div>
<p>
  <strong>Sire:</strong>
  <%= @bull.sire %>
</p>

<p>
  <strong>Dam:</strong>
  <%= @bull.dam %>
</p>

<% if current_user.try(:isAdmin?) %>
  <div style="border:1px solid black; margin:5px; padding:5px">
  <h5>Admin Control</h5>
    <%= link_to 'Edit Bull', edit_bull_path(@bull), :class => "btn btn-success" %><br><br>
    <%= link_to 'Pubic Comment', new_bull_public_comment_path(@bull), :class => "btn btn-danger" %>
  </div>
<% end %>

<% if @public_comments %>
  <% unless @public_comments.empty? %>
    <h2>Seller's comments</h2>
    <% @public_comments.each do |comment| %>
      <h4>On <%= comment.created_at %> NCC wrote:</h4>
      <p><%= comment.content %>
        <% if current_user.try(:isAdmin?) %>
          <%= link_to 'Remove', bull_public_comment_path(@bull, comment), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %> 
        <% end %>
      </p>
    <% end %>
  <% end %>
<% end %>



<% if @comments %>
  <% unless @comments.empty? %>
    <h2>Your notes:</h2>
    <% @comments.each do |comment| %>
      <h4>On <%= comment.created_at %> you wrote:</h4>
      <p><%= comment.content %>
        <%= link_to 'Remove', bull_comment_path(@bull, comment), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %> 
      </p>
    <% end %>
  <% end %>
<% elsif current_user %>
  <h2>You don't have any notes</h2>
<% end %>

<%#= link_to 'Back', bulls_path %>

<% if user_signed_in? %>
  <%= link_to 'Write a note', new_bull_comment_path(@bull), :class => "btn btn-info" %>
<% end %>
