<p id="notice"><%= notice %></p>

<h1>Bull: <%= @bull.name %></h1>

<p>
  <strong>Tag:</strong>
  <%= @bull.tag %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @bull.dob %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @bull.weight %> lbs.
</p>

<p>
  <strong>Scrotum:</strong>
  <%= @bull.scrotum %> cm.
</p>

<p>
  <strong>Sire:</strong>
  <%= @bull.sire %>
</p>

<p>
  <strong>Dam:</strong>
  <%= @bull.dam %>
</p>

<% if current_user.try(:isAdmin?) %>
  <div style="border:1px solid black; margin:5px; padding:5px">
  <h5>Admin Control</h5>
    <%= link_to 'Edit Bull', edit_bull_path(@bull), :class => "btn btn-success" %><br><br>
    <%= link_to 'Pubic Comment', new_bull_public_comment_path(@bull), :class => "btn btn-danger" %>
  </div>
<% end %>

<% if @public_comments %>
  <% unless @public_comments.empty? %>
    <h2>Seller's comments</h2>
    <% @public_comments.each do |comment| %>
      <h4>On <%= comment.created_at %> NCC wrote:</h4>
      <p><%= comment.content %>
        <% if current_user.try(:isAdmin?) %>
          <%= link_to 'Remove', bull_public_comment_path(@bull, comment), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %> 
        <% end %>
      </p>
    <% end %>
  <% end %>
<% end %>



<% if @comments %>
  <% unless @comments.empty? %>
    <h2>Your notes:</h2>
    <% @comments.each do |comment| %>
      <h4>On <%= comment.created_at %> you wrote:</h4>
      <p><%= comment.content %>
        <%= link_to 'Remove', bull_comment_path(@bull, comment), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %> 
      </p>
    <% end %>
  <% end %>
<% elsif current_user %>
  <h2>You don't have any notes</h2>
<% end %>

<%#= link_to 'Back', bulls_path %>

<% if user_signed_in? %>
  <%= link_to 'Write a note', new_bull_comment_path(@bull), :class => "btn btn-info" %>
<% end %>
