<h1>Listing public comments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Bull</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @public_comments.each do |comment| %>
      <tr>
        <td><%= comment.user_id %></td>
        <td><%= comment.bull_id %></td>
        <td><%= comment.content %></td>
        <td><%= link_to 'Show', [@bull, comment] %></td>
        <td><%= link_to 'Edit', edit_bull_comment_path([@bull, comment]) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Public Comment', new_public_comment_path %>
