<!DOCTYPE html>
<html>
<head>
  <title>Neilson Cattle Company 2-Year-Old Bulls</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Top nav bar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<ul class="nav navbar-nav">
				<li><%= link_to 'Bulls', bulls_path %></li>
				<% unless current_user %>
					<li><%= link_to 'Sign in', new_user_session_path %></li>
				<% else %>
					<li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
				<% end %>
			</ul>
		</div>
	</nav>
	<div class="container">
		<!-- Flash Notices -->
		<% flash.each do |name, msg| -%>
			<%= content_tag :div, msg, class: name %>
		<% end -%>
		<!-- Sign-up prompt -->
		<% unless current_user || request.original_url.match(/sign_in/)%>
			<h3>
				<small>Want to add personal notes and receive updates by email?</small>
				<%= link_to 'Sign in', new_user_session_path, :class => "btn btn-info" %>
			</h3>		
		<% end %>

		<%= yield %>
	</div>
</body>
</html>
